<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">

        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header ">
            <img src="https://www.stickpng.com/assets/images/58429977a6515b1e0ad75ade.png" alt="..."
                class="rounded-circle img">
            <div class="d-flex mt-2 flex-column">
                <p class="text-center text-Margin-botton ;" style="font-weight: 700"> {{Stablishment}} </p>
                <p class="text-Margin-botton">Sede: {{headquarters}} </p>
            </div>
            <button type="button" class="btn btn-link btnLougOut">Editar</button>
        </div>
            <ul class="list-unstyled components">
                <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                    <i class="fas fa-envelope icon-style icon" style="margin-right: 35px;"></i>
                    <i class="fas fa-bell icon"></i>
                </div>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <button type="button" class="btn btn-link btnLougOut" >Cerrar Sesión</button>
            </ul>
        
    </nav>

    <!-- Page Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </div>
    <!-- Dark Overlay element -->
    <div class="overlay"></div>
</div>